<div *ngIf="task">
    <div>
        <h1 class="h2">Detalle Task</h1>
    </div>
    <p>Editar/Eliminar tareas</p>
    <div class="form-group">
        <label>Id:
            {{task.id}}
        </label>
    </div>
    <div class="form-group">
        <label>Título:
            <input [(ngModel)]="task.title" class="form-control" placeholder="digite título" type="text"/>
        </label>
    </div>
    <div class="form-group">
        <label>Descripción:
            <input [(ngModel)]="task.description" class="form-control" placeholder="digite descripción" type="text"/>
        </label>
    </div>
    <div class="form-group">
        <label>Prioritario:
            <input type="checkbox" class="form-control" [(ngModel)]="task.priority ">
        </label>
    </div>
    <div class="form-group">
        <button (click)="update()" class="btn btn-primary">Actualizar</button>
        <button (click)="delete()" class="btn btn-primary">Eliminar</button>
    </div>
</div>
